body {
    margin: 0px;
    padding: 0px;
}
canvas {
    border: 1px solid #9C9898;
}
#container {
    overflow: auto;
}
#info {
    /*border-top: 1px solid #9C9898;*/
    margin-left: 0.5em;
}
#selectedUnit {
    /*border-right: 1px solid #9C9898;*/
    display: inline;
}
#terrainInfo {
    margin: 0px;
    margin-left: 0.25em;
    padding: 0px;
    display: inline;
}