body {
    margin: 0px;
    padding: 0px;
    
    font-family: Arial,Helvetica,sans-serif;
}
canvas {
    border: 1px solid #9C9898;
    margin-left: 0.25em;
}
#container {
    overflow: auto;
    /*margin-left: 0.25em;*/
}
#info {
    /*border-top: 1px solid #9C9898;*/
    margin-left: 0.5em;
}
#selectedUnit {
    /*border-right: 1px solid #9C9898;*/
    display: inline;
}
#terrainInfo {
    margin: 0px;
    margin-left: 0.25em;
    padding: 0px;
    display: inline;
}
.nonBreaking {
    display: inline;
}
.someMargin {
    margin-left: 2em;
}
#gameInfo {
    padding: 0.25em 0.5em;
    clear: both;
}

#reinforcements canvas {
    padding-top: 0.25em;
}